

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  min-height: 90vh;
  width: 90vw;
  background-color: #000000e8;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background: linear-gradient(135deg, #00feba, #5b548a);
  border-radius: 20px;
  margin-left: 40px;
  border: none;
}

.search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.search input{
  margin-left: 0;
  padding: 10px;
  border: none;
  border-radius: 15px;
  color: #000;
}

.search input:focus{
  border: 2px solid #fff;
  outline: none;
}

.search button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.search button img{
  margin-top: 3px;
  width: 20px;
}

.search button:hover{
  background-color: #e0e0e0;
}

.info{
  text-align: center;
  display: none;
}

.city-degree{
  font-size: 55px;
  font-weight: 700;
}

.city-name{
  font-size: 30px;
  font-weight: 600;
}

.detials{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.detials img{
  width: 30px;
}

.error-message{
  text-align: center;
  display: none;
  color: red;
}